.icon-list-container {
    margin: 20px auto;
    max-width: 600px;
    transform: translateY(18%);
    position: relative;
    border: solid grey 2px;
    border-radius: 10px;
    background-color: aliceblue;


}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; 
    justify-items: center; 

}

.icon-img {
    
        width: 60px;
        height: 60px;
        object-fit: contain;
        display: block;
}
    


.icon-item {
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}


.icon-name {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.add-icon-container {
    height: 500px;
    width: 400px;
    position: absolute;
    right: 5%;
    top: 20%;
    border: solid grey 2px;
    border-radius: 10px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    padding-top: 80px; 
    gap: 50px;
    
}

.icon-title {
    text-align: center;

}



.upload-button{
    position: relative;
    text-align: center;
    top: 30%;
}

.file-selector {
    position: relative;
    top: 20%;
  
}

.icon-name-tag {
    position: absolute;
    top: 70%;
}

.iconName {
    position: absolute;
    top: 62%;
}

.delete-button {
  
    object-fit: contain;
    display: block;
    border: 1px solid #e60e0e;
    border-radius: 4px;
    background-color: #d81515;
    cursor: pointer;
    color:white;
    
}

.status-true{
    position: absolute;
    color: green;
    top: 80%;
}

.status-false{
    position: absolute;
    color: red;
    top: 80%;
}

.p{
    position: absolute;
    top: 20%;
    font-style: italic;
    font-size: 13px;
}